.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 500px) {
    width: 100%;
    margin: 0 auto;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 500px) {
      flex-direction: column;

      .button {
        margin-bottom: 15px;
      }
    }
  }
}
